# Frontend
frontend/logs
frontend/*.log*
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/.env

# Backend
backend/llg.exe
backend/llg_old.exe
backend/llg
backend/dist
backend/config.json

.idea
data