<!DOCTYPE html>
<html lang="en">
<head>
    <title>llg</title>
    <meta charset="utf-8">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@czQery">
    <meta name="author" content="Štěpán Aubrecht">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/src/public/roboto.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
    <style>
        @font-face {
            font-family: "Roboto";
            src: local("Roboto"), local("Roboto-Regular"), url("/src/public/roboto.woff2") format("woff2");
            font-weight: normal;
            font-style: normal;
            font-display: block;
        }

        :root {
            --rad: 5px;
            --transition: 0.1s;
            --shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
            --hover: brightness(40%);
        }

        * {
            box-sizing: border-box;
            font-family: "Roboto", sans-serif;
        }

        body {
            margin: 20px;
            padding: 0;
            background-color: #262428;
            display: grid;
            row-gap: 20px;
            grid-template-columns: 1fr;
            grid-template-rows: min-content 1fr;
            position: relative;
            height: calc(100svh - 40px);
            width: calc(100% - 40px);
        }

        #wrapper {
            display: block;
            height: 100%;
            grid-column: 1/4;
            grid-row: 2/4;
            padding: 10px;
            background-color: #FFF;
            border-radius: var(--rad);
        }

        #header {
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }

        #header h1 {
            color: #FFF;
            margin: 0;
        }

        #header form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            color: #FFF;
            text-align: right;
        }

        #header form button {
            height: 30px;
            width: 100px;
            background-color: #3b60dc;
            border: none;
            border-radius: var(--rad);
            text-transform: uppercase;
            color: #FFF;
            transition: var(--transition) all linear;
        }

        #header form button:hover {
            cursor: pointer;
            filter: var(--hover);
        }

        @media screen and (max-width: 519px) {
            body {
                margin: 10px;
                height: calc(100svh - 20px);
                width: calc(100% - 20px);
                row-gap: 10px;
            }
        }

    </style>
</head>
<body>
<header id="header">
    <h1>Login/Logoff Graph</h1>
    <form>
        <div>
            <label for="user1">fa</label>
            <input type="checkbox" id="user1" name="fa" value="fa">
        </div>
        <div>
            <label for="month">Month:</label>
            <input type="month" id="month" name="month" min="2020-00" value="2023-01"/>
        </div>
        <div>
            <button>render</button>
        </div>
    </form>
</header>
<div id="wrapper">
    <canvas id="ch"></canvas>
</div>
</body>
<script src="/src/public/chart.js"></script>
<script>
    const formatTime = (value) => {
        let h = Math.trunc(value / 60);
        let m = value % 60;

        if (h.toString().length === 1) {
            h = "0" + h.toString();
        }

        if (m.toString().length === 1) {
            m = "0" + m.toString();
        }

        return h.toString() + ":" + m.toString();
    }

    const test = "{{data}}";

    const data1 = [
        {date: 1693548000000, time: [8 * 60, 14 * 60]},
        {date: 1693548000000, time: [15 * 60, 17.5 * 60]},
        {date: 1693670400000, time: [6 * 60, 16 * 60]},
        {date: 1693670400000, time: [17 * 60, 20 * 60]},
        {date: 1693717200000, time: [7 * 60, 10 * 60]},
        {date: 1693717200000, time: [14 * 60, 16 * 60]},
    ];

    const data2 = [
        {date: 1693548000000, time: [4 * 60, 10 * 60]},
        {date: 1693548000000, time: [14 * 60, 20 * 60]},
        {date: 1693670400000, time: [9 * 60, 20 * 60]},
        {},
        /*{date: 1693670400000, time: [21 * 60, 22 * 60]},*/
        {date: 1693717200000, time: [5 * 60, 15 * 60]},
        {date: 1693717200000, time: [16 * 60, 19 * 60]},
    ];

    const ch = new Chart(document.getElementById("ch").getContext("2d"), {
        defaults: {
            elements: {
                bar: {
                    borderWidth: 1,
                }
            }
        },
        type: "bar",
        data: {
            labels: data1.map(row => row.date),
            datasets: [
                {
                    label: "fa",
                    backgroundColor: "blue",
                    data: data1.map(row => row.time),
                },
                {
                    label: "ja",
                    backgroundColor: "red",
                    data: data2.map(row => row.time)
                }
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: true
                },
                title: {
                    display: false
                },
                tooltip: {
                    yAlign: "bottom",
                    callbacks: {
                        title: (items) => {
                            return "User: " + items[0]["dataset"]["label"];
                        },
                        label: (item) => {
                            return formatTime(item["raw"][0]) + "-" + formatTime(item["raw"][1]);
                        },
                    }
                }
            },
            scales: {
                x: {
                    type: "timeseries",
                    stacked: false,
                    parsing: false,
                    time: {
                        unit: "day"
                    },
                    grid: {
                        lineWidth: 0.5,
                    }
                },
                y: {
                    type: "linear",
                    stacked: false,
                    min: 0,
                    max: 1440,
                    ticks: {
                        stepSize: 60,
                        callback: (value, index, values) => {
                            return formatTime(value);
                        }
                    },
                    beginAtZero: true,
                }
            }
        },
    });
</script>
</html>